@import url("./components/vs-icon/vs-icon.css");
@import url("./components/vs-spinner/vs-spinner.css");

@import url("./components/vs-divider/vs-divider.css");
@import url("./components/vs-badge/vs-badge.css");

@import url("./components/vs-placeholder/vs-placeholder.css");
@import url("./components/vs-btn/vs-btn.css");
