@import url("./components/vs-accordion/vs-accordion.css");
@import url("./components/vs-avatar/vs-avatar.css");
@import url("./components/vs-btn-group/vs-btn-group.css");
@import url("./components/vs-btn/vs-btn.css");
@import url("./components/vs-card/vs-card.css");
@import url("./components/vs-carousel/vs-carousel.css");
@import url("./components/vs-checkbox/vs-checkbox.css");
@import url("./components/vs-close/vs-close.css");
@import url("./components/vs-dropdown/vs-dropdown.css");
@import url("./components/vs-input/vs-input.css");
@import url("./components/vs-modal/vs-modal.css");
@import url("./components/vs-offcanvas/vs-offcanvas.css");
@import url("./components/vs-placeholder/vs-placeholder.css");
@import url("./components/vs-popover/vs-popover.css");
@import url("./components/vs-progress/vs-progress.css");
@import url("./components/vs-radio/vs-radio.css");
@import url("./components/vs-switch/vs-switch.css");
@import url("./components/vs-toast/vs-toast.css");
@import url("./components/vs-tooltip/vs-tooltip.css");
