@import url("./components/vs-icon/vs-icon.css");
@import url("./components/vs-spinner/vs-spinner.css");

@import url("./components/vs-divider/vs-divider.css");
@import url("./components/vs-badge/vs-badge.css");

@import url("./components/vs-placeholder/vs-placeholder.css");
@import url("./components/vs-alerts/vs-alerts.css");
@import url("./components/vs-btn/vs-btn.css");
@import url("./components/vs-btn-group/vs-btn-group.css");
@import url("./components/vs-close/vs-close.css");
@import url("./components/vs-input/vs-input.css");
@import url("./components/vs-checkbox/vs-checkbox.css");
@import url("./components/vs-radiogroup/vs-radiogroup.css");
@import url("./components/vs-switch/vs-switch.css");
@import url("./components/vs-dropdown/vs-dropdown.css");
@import url("./components/vs-rangeSlider/vs-rangeSlider.css");
@import url("./components/vs-selectInput/vs-selectInput.css");
