@import url("./component-css/vs-footer.css");
@import url("./component-css/vs-navbar.css");
@import url("./component-css/vs-testimonial.css");
@import url("./component-css/dataInsightDashboard.css");
@import url("./component-css/text-selection-toolbar.css");
@import url("./component-css/ask-vidyaasaarthi.css");
@import url("./component-css/demo-tabs.css");