/* ==VIDYAA SAARTHI NAVBAR ==== */

/* Navbar background */
.vs-navbar {
  background-color: var(--secondary-600);
}

/* Brand logo */
.vs-navbar .navbar-brand {
  padding: 0 !important;
  background: transparent !important;
}

.vs-navbar .navbar-brand img {
  width: 64px;
  height: auto;
  padding: 0px;
}

/* -----MENU LINKS -- */

/* Control spacing between menu items (use flex gap) */
.vs-navbar .navbar-nav {
  gap: 12px; /* adjust as needed */
}

/* Menu link base style */
.vs-navbar .nav-link {
  color: var(--text-white) !important;
  margin: 0 !important; /* prevent excess spacing */
}

/* Hover / focus */
.vs-navbar .nav-link:hover,
.vs-navbar .nav-link:focus {
  color: var(--neutral-200) !important;
}
